<nav class="nav">
    <!-- <ul class="nav__list">
      <li class="nav__item"><a class="nav__link" href="https://carlosghabrous.github.com">Home</a></li>
      <li class="nav__item"><a class="nav__link" href="https://carlosghabrous.github.com/#about">About</a></li>
      <li class="nav__item"><a class="nav__link" href="https://carlosghabrous.github.com#projects">Projects</a></li>
      <li class="nav__item"><a class="nav__link" href="https://carlosghabrous.github.com/cv">CV</a></li>
      <li class="nav__item"><a class="nav__link" href="https://carlosghabrous.github.com/blog">Blog</a></li>
    </ul> -->
    {% for item in site.data.navigation %}
      <li class="nav__item">
        <a class="nav__link" href="{{ item.link }}">
        {{ item.name }}
        </a>
      </li>
    {% endfor %}
  </nav>