body {
    scroll-behavior: smooth;
}

.cv-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "side-bar experience",
        "side-bar personal";
}

.side-bar {
    background: var(--clr-side_bar);
    font-family: var(--ff-primary);
    color: var(--fc-side_bar);
    grid-area: "side-bar";
    padding: 2em 1.5em;
    display:  flex;
    flex-direction:  column;
}

.side__bar--item--title,
side__bar--item--subtitle {
  font-weight: var(--fw-bold);
}


.right-side {
  padding: 2em 1.5em;
}


.experience-achievements {
    grid-area: "experience";
}

.personal-projects {
    grid-area: "personal";
}