body {
    scroll-behavior: smooth;
    background: pink;
}

.cv-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "side-bar experience",
        "side-bar personal";
}

.side-bar {
    background: rgb(7, 86, 160);
    grid-area: "side-bar";
}

.experience-achievements {
    background: blue;
    grid-area: "experience";
}

.personal-projects {
    background: green;
    grid-area: "personal";
}